/*登录界面*/
.loginContainer {
  width: 400px;
  /*height: 420px;*/
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: display 1s;
}

.loginTitle {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.nicknameInput {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  margin-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

.imgList {
  margin-top: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.selectImg {
  margin-top: 20px;
}

.imgList img {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.now {
  border: 3px solid red;
}

.uploadImg {
  margin: 20px auto;
  text-align: center;
}

.uploadImgBtn {
  background-color: #46b8da;
  padding: 5px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 18px;
}

.previewContainer {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.previewContainerExtend {
  margin-top: 15px;
  border: 2px dotted gainsboro;
  height: 80px;
}

.uploadIcon {
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.isVisible {
  display: none;
}

.uploadFileInput {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80px;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0;
}

#preview {
  display: inline-block;
}

.previewAvatar {
  width: 80px;
  height: 80px;
}

.loginBtn {
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
}
