<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/register.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="images/logo.png" class="logo">
      </a>
      <h1>用户注册</h1>
    </div>

    <form id="register_form" method="post" action="/register">
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称是您的唯一标识">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label>选择头像</label>
        <div class="imgList" id="imgList">
          <img class="now" src="images/1.jpg">
          <img src="images/2.jpg">
          <img src="images/3.jpg">
          <img src="images/4.jpg">
          <img src="images/5.jpg">
          <img src="images/6.jpg">
          <img src="images/7.jpg">
          <img src="images/8.jpg">
          <img src="images/9.jpg">
          <img src="images/10.jpg">
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-block">注册</button>
    </form>
    <div class="message">
      <p class="text-success">已有账号? <a href="/login">点击登录</a></p>
      <p class="text-success">代码仓库：<a href="https://github.com/ChangYanwei/chatroom">GitHub</a> </p>
    </div>
  </div>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <script src="js/register.js"></script>
</body>

</html>
